{% extends ../base.html %}

{% block title %}Crafty Controller - Backups{% end %}

{% block content %}

<section class="content-header">
  <h1>
    Server Backups
    <small>Because the NSA won't send their copy</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Server Backup</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-3">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Backup
                  </h3>
                </div>
                <div class="box-body">
                    <a href="/admin/commands?command=backup"
                       onclick="backup_started()"
                        class="btn btn-app">
                        <i class="fa fa-floppy-o"></i> Backup Server Now
                    </a>
                    <hr />
                    Your backups are stored in: <br /> {{ data['backup_path'] }}<br />
                    <hr>

                    You are backing up these paths:<br />
                    <ul>
                        {% for p in data['backup_paths'] %}
                        <li>{{ p }}</li>
                        {% end %}
                    </ul>
                    <a href="/admin/config">Change Backup Config</a>

                </div>
              </div>
        </div>

        <div class="col-xs-9">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Existing Backups
                  </h3>
                </div>
                <div class="box-body">
                    <table class="table table-responsive" id="backup_table">
                        <thead>
                        <tr>
                            <th width="10%">Download</th>
                            <th>Path</th>
                            <th width="20%">Size</th>
                            <th width="10%">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for backup in data['current_backups'] %}
                            <tr>
                            <td>
                                <a href="/admin/downloadbackup?file={{ backup['path'] }}" class="btn btn-primary">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    Download
                                </a>
                            </td>
                            <td>{{ backup['path'] }}</td>
                            <td>{{ backup['size'] }}</td>
                            <td>
                                <button data-file="{{ backup['path'] }}" class="btn btn-danger del_button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Delete
                                </button>

                            </td>
                            </tr>
                        {% end %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>

    </div>
</section>

<!--
{{ data }}
-->




{% end %}

{% block js-script %}

<script>

    //used to get cookies from browser - this is part of tornados xsrf protection - it's for extra security
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    function backup_started(time='5-10'){
            bootbox.alert({
            message: "A backup task has been started.",
            backdrop: true
        });
    }

    function del_backup(filename){
        var token = getCookie("_xsrf")

        data_to_send = { file_name :filename,  }

        console.log('Sending Command to delete file: ' + filename)
        $.ajax({
          type: "POST",
          headers: {'X-XSRFToken': token},
          url: '/ajax/del_file',
          data: data_to_send,
          success: function(data){
            location.reload();
          },
        });
    }

    $( document ).ready(function() {
        console.log( "ready!" );

        $('#backup_table').DataTable({
            "order": [[ 1, "desc" ]]
        });

        $( ".del_button" ).click(function() {
            var file_to_del = $(this).data("file");

            console.log("file to delete is" + file_to_del);

            bootbox.confirm({
                title: "Destroy backup " + file_to_del + "?",
                message: "Do you want to delete this file? This cannot be undone.",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    console.log(result);
                    if (result == true) {
                        del_backup(file_to_del)
                    }
                }
            });
        });

    });

</script>

{% end %}